name: Set up Workspace
description: 'Checks out repository, installs correct version of node and npm dependencies.'

inputs:
  ref:
    description: 'Git ref (tag/branch/commit) to checkout. Defaults to github.ref if not set.'
    required: false
    default: ''

runs:
  using: composite
  steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ inputs.ref != '' && inputs.ref || github.ref }}
        fetch-depth: 0

    - uses: pnpm/action-setup@v4
      name: Install pnpm
      with:
        version: 9
        run_install: false

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18.18.2
        cache: 'pnpm'

    - name: Install dependencies
      shell: bash
      run: pnpm install --frozen-lockfile --strict-peer-dependencies

    - name: Install Global Packages
      shell: bash
      run: pnpm add -g gulp prettier typescript

    - name: Install Cypress Binary
      shell: bash
      run: pnpm exec cypress install

    - name: Cache Cypress Binary
      uses: actions/cache@v3
      with:
        path: ~/.cache/Cypress
        key: cypress-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
        restore-keys: |
          cypress-${{ runner.os }}-
