/*
    Load fonts in this file using @font-face.

    Fonts should go in: ~/assets/fonts/

    NOTE That you need to use ~assets in CSS files, rather than the ~/assets in JS files.

    Example:

        @font-face {
           font-family: 'My Font';
           src: url('~assets/fonts/MyFont.eot');
           src: url('~assets/fonts/MyFont.eot?#iefix') format('embedded-opentype'),
                 url('~assets/fonts/MyFont.woff2') format('woff2'),
                 url('~assets/fonts/MyFont.woff') format('woff'),
                 url('~assets/fonts/MyFont.ttf') format('truetype');
            font-style: normal;
            font-weight: 400;
        }

    Font Weights:
        100 - Thin
        200 - Extra Light (Ultra Light)
        300 - Light
        400 - Normal
        500 - Medium
        600 - Semi Bold (Demi Bold)
        700 - Bold
        800 - Extra Bold (Ultra Bold)
        900 - Black (Heavy)
*/

/* NOTE: We load other fonts using typekit, you can see them all here: https://use.typekit.net/xso3wzv.css */

@font-face {
    font-family: "Karbon";
    src: url("~assets/fonts/karbon-web-regular.eot");
    src: url("~assets/fonts/karbon-web-regular.eot?#iefix")
            format("embedded-opentype"),
        url("~assets/fonts/karbon-web-regular.woff2") format("woff2"),
        url("~assets/fonts/karbon-web-regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Karbon";
    src: url("~assets/fonts/karbon-web-light.eot");
    src: url("~assets/fonts/karbon-web-light.eot?#iefix")
            format("embedded-opentype"),
        url("~assets/fonts/karbon-web-light.woff2") format("woff2"),
        url("~assets/fonts/karbon-web-light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Karbon";
    src: url("~assets/fonts/karbon-web-medium.eot");
    src: url("~assets/fonts/karbon-web-medium.eot?#iefix")
            format("embedded-opentype"),
        url("~assets/fonts/karbon-web-medium.woff2") format("woff2"),
        url("~assets/fonts/karbon-web-medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Karbon";
    src: url("~assets/fonts/karbon-web-semibold.eot");
    src: url("~assets/fonts/karbon-web-semibold.eot?#iefix")
            format("embedded-opentype"),
        url("~assets/fonts/karbon-web-semibold.woff2") format("woff2"),
        url("~assets/fonts/karbon-web-semibold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Karbon";
    src: url("~assets/fonts/karbon-web-bold.eot");
    src: url("~assets/fonts/karbon-web-bold.eot?#iefix")
            format("embedded-opentype"),
        url("~assets/fonts/karbon-web-bold.woff2") format("woff2"),
        url("~assets/fonts/karbon-web-bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Font-Awesome';
    src: url('~assets/fonts/fontawesome-webfont.woff2') format("woff2"),
    url('~assets/fonts/fontawesome-webfont.woff') format('woff'), 
    url('~assets/fonts/fontawesome-webfont.ttf') format('truetype');
}
