/*
 * This file is included once, for the entire sute.
 * It's useful for CSS vars
 */

// CSS vars
:root {
    --color-white: #ffffff;
    --color-black: #0f0f0f;

    // Primary colors
    --color-primary-blue: #0b6ab7;
    --color-dark-blue: #032d5b;
    --color-primary-light-blue: #9ecffa;
    --color-yellow: #ffe800;
    --color-dark-blue-02: #0055a6;
    --color-lightest-blue: #eaf2fb;

    // Secondary colors
    --color-primary-yellow: #ffd600;
    --color-yellow-02: #ffdb20;
    --color-yellow-03: #ffe92e;
    --color-blue-01: #3284bf;
    --color-blue-02: #1f75c5;
    --color-blue-03: #1678d0;
    --color-blue-04: #288fe8;
    --color-grey-01: #717171;
    --color-grey-02: #999999;
    --color-grey-03: #dcdcdb;
    --color-bkg-grey: #f2f2f2;

    // Tertiary colors
    --color-cyan-01: #0aa5ff;
    --color-cyan-02: #5cd9ff;
    --color-cyan-03: #c7f8ff;
    --color-green-01: #00e0e0;
    --color-green-02: #87fbe8;
    --color-green-03: #b9f8ee;
    --color-fushia-01: #ff94db;
    --color-fushia-02: #ffbdf4;
    --color-fushia-03: #ffdcff;
    --color-purple-01: #c099ff;
    --color-purple-02: #e7dbff;
    --color-purple-03: #efe5ff;

    // Gradients
    --gradient-01: linear-gradient(
        142.22deg,
        #0b6ab7 0%,
        #1f75c5 41.67%,
        #0a98f0 93.36%
    );
    --gradient-03: linear-gradient(
        144.09deg,
        #0b6ab7 2.22%,
        #1f75c5 50.99%,
        #0a95eb 85.22%
    );
    --gradient-image-01: linear-gradient(
        117.49deg,
        #0f0f0f 0%,
        rgba(15, 15, 15, 0.25) 31.88%,
        rgba(15, 15, 15, 0) 58.42%
    );

    // Section colors
    --color-help: var(--color-green-01);
    --color-visit: var(--color-fushia-01);
    --color-about: var(--color-purple-01);
    --color-section: var(--color-cyan-01);

    // Units
    --unit-gutter: 72px;
    --unit-vertical-gap: 100px;
    --unit-sticky-header-height: 96px;
    --unit-footer-height: 376px;

    --unit-content-width: 1080px;
    --unit-center-column-max: 930px;
    --unit-center-text-max: 830px;

    // Fonts
    --font-primary: "Karbon", sans-serif;
    --font-secondary: "proxima-nova", sans-serif;

    // Borders
    // top-left | top-right | bottom-right | bottom-left
    --rounded-slightly-all: 4px;
    --rounded-slightly-top: 4px 4px 0 0;

    // Breakponts
    @media #{$lte-tablet} {
        --unit-gutter: 36px;
    }
    @media #{$lte-phone} {
        --unit-gutter: 25px;
    }
}
