// CSS vars
:root {
    // TODO Add brand colors as vars here
    --color-white: #ffffff;
    --color-black: #000000;

    // TODO setup section colors like this
    --color-yellow: yellow;
    --color-visit: var(--color-yellow);


    //--unit-100vh: 100vh;
    //--unit-gap: 40px;

    --font-primary: "Karbon", sans-serif;
    //--font-secondary: "Proxima Nova", sans-serif;
}
