/*
 * This file is included once, for the entire site.
 * It's useful for CSS vars
     use like this: color: var(--color-yellow);
 */

// CSS vars
:root {
    --color-white: #ffffff;
    --color-black: #0f0f0f;

    // Primary colors
    --color-primary-blue: #0b6ab7;
    --color-primary-yellow: #ffe800; // --color-yellow
    --color-primary-darker-blue: #0055a6; // --color-dark-blue-02
    --color-primary-darkest-blue: #032d5b; // --color-dark-blue
    --color-primary-light-blue: #9ecffa;
    --color-primary-lightest-blue: #eaf2fb; // --color-lightest-blue

    // Secondary colors
    --color-secondary-yellow-01: #ffe92e; // --color-yellow-03
    --color-secondary-yellow-02: #ffdb20; // --color-yellow-02
    --color-secondary-yellow-03: #ffd600; // --color-primary-yellow
    --color-secondary-blue-01: #288fe8; // --color-blue-04
    --color-secondary-blue-02: #1678d0; // --color-blue-03
    --color-secondary-blue-03: #1f75c5; // --color-blue-02
    --color-secondary-grey-01: #f2f2f2; // --color-bkg-grey
    --color-secondary-grey-02: #dcdcdb; // --color-grey-03
    --color-secondary-grey-03: #999999; // --color-grey-02
    --color-secondary-grey-04: #717171; // --color-grey-01
    --color-secondary-black: #434343;

    // Way Finder - Tertiary colors
    --color-help-green-base: #00e0e0; // --color-green-01
    --color-visit-fushia-base: #ff94db; // pink --color-fushia-01
    --color-about-purple-base: #c099ff; // --color-purple-01
    --color-default-cyan-base: #0aa5ff; // blue --color-cyan-01

    --color-help-green-lighter: #87fbe8; // --color-green-02
    --color-visit-fushia-lighter: #ffbdf4; // --color-fushia-02
    --color-about-purple-lighter: #e7dbff; // --color-purple-02
    --color-default-cyan-lighter: #5cd9ff; // --color-cyan-02

    --color-help-green-lightest: #b9f8ee; // --color-green-03
    --color-visit-fushia-lightest: #ffdcff; // --color-fushia-03
    --color-about-purple-lightest: #efe5ff; // --color-purple-03
    --color-default-cyan-lightest: #c7f8ff; // --color-cyan-03

    // Units
    --unit-gutter: 72px;
    --unit-vertical-gap: 100px;
    --unit-sticky-header-height: 96px;
    --unit-footer-height: 376px;

    --unit-content-width: 1080px;
    --unit-center-column-max: 930px;
    --unit-center-text-max: 830px;

    // Fonts
    --font-primary: "Karbon", sans-serif;
    --font-secondary: "proxima-nova", sans-serif;

    // Borders
    // top-left | top-right | bottom-right | bottom-left
    --rounded-slightly-all: 4px;
    --rounded-slightly-top: 4px 4px 0 0;

    // Gradients
    --gradient-01: linear-gradient(
        142.22deg,
        #0b6ab7 0%,
        #1f75c5 41.67%,
        #0a98f0 93.36%
    );
    --gradient-03: linear-gradient(
        144.09deg,
        #0b6ab7 2.22%,
        #1f75c5 50.99%,
        #0a95eb 85.22%
    );
    --gradient-image-01: linear-gradient(
        117.49deg,
        #0f0f0f 0%,
        rgba(15, 15, 15, 0.25) 31.88%,
        rgba(15, 15, 15, 0) 58.42%
    );

    --gradient-radial: radial-gradient(
        50% 50% at 50% 50%,
        rgba(15, 15, 15, 0) 0%,
        rgba(15, 15, 15, 0.555208) 85.42%,
        rgba(15, 15, 15, 0.65) 100%
    );

    // Breakponts
    @media #{$lte-tablet} {
        --unit-gutter: 36px;
    }
    @media #{$lte-phone} {
        --unit-gutter: 25px;
    }
}
