// CSS vars
:root {
    // TODO Add brand colors as vars here
    --color-white: #ffffff;
    --color-black: #0F0F0F;

    // Primary colors
    --color-primary-blue: #0B6AB7;
    --color-dark-blue: #032D5B;
    --color-primary-light-blue: #9ECFFA;
    --color-yellow: #FFE800;
    --color-dark-blue-02: #0055A6;
    --color-lightest-blue: #EAF2FB;

    // Secondary colors
    --color-primary-yellow: #FFD600;
    --color-yellow-02: #FFDB20;
    --color-yellow-03: #FFE92E;
    --color-blue-01: #3284BF;
    --color-blue-02: #1F75C5;
    --color-blue-03: #1678D0;
    --color-blue-04: #288FE8;
    --color-grey-01: #717171;
    --color-grey-02: #999999;
    --color-grey-03: #DCDCDB;
    --color-bkg-grey: #F2F2F2;

    // Tertiary colors
    --color-cyan-01: #0AA5FF;
    --color-cyan-02: #5CD9FF;
    --color-cyan-02: #C7F8FF;
    --color-green-01: #00E0E0;
    --color-green-02: #87FBE8;
    --color-green-03: #B9F8EE;
    --color-fushia-01: #FF94DB;
    --color-fushia-02: #FFBDF4;
    --color-fushia-03: #FFDCFF;
    --color-purple-01: #C099FF;
    --color-purple-02: #E7DBFF;
    --color-purple-03: #EFE5FF;


    // Section colors
    --color-help: var(--color-green-01);
    --color-visit: var(--color-fushia-01);
    --color-about: var(--color-purple-01);
    --color-section: var(--color-cyan-01);

    //--unit-100vh: 100vh;
    --unit-gutter: 72px;
    --unit-vertical-gap: 100px;
    --unit-content-width: 1048px;
    --unit-sticky-header-height: 96px;

    --font-primary: "Karbon", sans-serif;
    //--font-secondary: "Proxima Nova", sans-serif;
}
