/*
 * This file is included once, for the entire site.
 * It's useful for CSS vars
     use like this: color: var(--color-yellow);
 */

// CSS vars
:root {
    --color-white: #ffffff;
    --color-black: #0f0f0f;

    // Primary colors
    --color-primary-yellow-01: #{$primary-yellow-01}; // --color-primary-yellow
    --color-primary-blue-01: #{$primary-blue-01}; // --color-primary-lightest-blue
    --color-primary-blue-02: #9ecffa; // --color-primary-light-blue
    --color-primary-blue-03: #0b6ab7; // --color-primary-blue
    --color-primary-blue-04: #0055a6; // --color-primary-darker-blue
    --color-primary-blue-05: #032d5b; // --color-primary-darkest-blue

    // Secondary colors
    --color-secondary-yellow-01: #ffe92e;
    --color-secondary-yellow-02: #ffdb20;
    --color-secondary-yellow-03: #ffd600;

    --color-secondary-blue-01: #288fe8;
    --color-secondary-blue-02: #1678d0;
    --color-secondary-blue-03: #1f75c5;

    --color-secondary-grey-01: #{$secondary-grey-01};
    --color-secondary-grey-02: #{$secondary-grey-02};
    --color-secondary-grey-03: #{$secondary-grey-03};
    --color-secondary-grey-04: #{$secondary-grey-04};
    --color-secondary-grey-05: #{$secondary-grey-05};

    // Way Finder - Tertiary colors

    --color-default-cyan-01: #c7f8ff; // --color-default-cyan-lightest
    --color-help-green-01: #b9f8ee; // --color-help-green-lightest
    --color-visit-fushia-01: #ffdcff; // --color-visit-fushia-lightest #ffdcff --color-fushia-03
    --color-about-purple-01: #efe5ff; // --color-about-purple-lightest

    --color-default-cyan-02: #5cd9ff; // --color-default-cyan-lighter
    --color-help-green-02: #87fbe8; // --color-help-green-lighter
    --color-visit-fushia-02: #ffbdf4; // --color-visit-fushia-lighter
    --color-about-purple-02: #e7dbff; // --color-about-purple-lighter

    --color-default-cyan-03: #0aa5ff; // --color-default-cyan-base
    --color-help-green-03: #00e0e0; // --color-help-green-base
    --color-visit-fushia-03: #ff94db; // --color-visit-fushia-base
    --color-about-purple-03: #c099ff; // --color-about-purple-base

    // Units
    --unit-gutter: #{$whitespace-m-sides}px;
    --unit-vertical-gap: 100px;
    --unit-sticky-header-height: 96px;
    --unit-footer-height: 376px;

    --unit-content-width: 1080px;
    --unit-center-column-max: 930px;
    --unit-center-text-max: 830px;

    // Fonts
    --font-primary: "Karbon", sans-serif;
    --font-secondary: "proxima-nova", sans-serif;

    // Borders
    // top-left | top-right | bottom-right | bottom-left
    --rounded-slightly-all: 4px;
    --rounded-slightly-top: 4px 4px 0 0;

    // Gradients
    --text-overlay: linear-gradient(
        0deg,
        hsla(0, 0%, 35.29%, 0) 0%,
        hsla(0, 0%, 34.53%, 0.034375) 16.36%,
        hsla(0, 0%, 32.42%, 0.125) 33.34%,
        hsla(0, 0%, 29.18%, 0.253125) 50.1%,
        hsla(0, 0%, 24.96%, 0.4) 65.75%,
        hsla(0, 0%, 19.85%, 0.546875) 79.43%,
        hsla(0, 0%, 13.95%, 0.675) 90.28%,
        hsla(0, 0%, 7.32%, 0.765625) 97.43%,
        hsla(0, 0%, 0%, 0.8) 100%
    );
    --gradient-01: linear-gradient(
        142.22deg,
        #0b6ab7 0%,
        #1f75c5 41.67%,
        #0a98f0 93.36%
    );
    --gradient-03: linear-gradient(
        144.09deg,
        #0B6AB7 2.22%,
        #1F75C5 46.81%,
        #0A95EB 85.22%
    );
    --gradient-image-01: linear-gradient(
        117.49deg,
        #0f0f0f 0%,
        rgba(15, 15, 15, 0.25) 31.88%,
        rgba(15, 15, 15, 0) 58.42%
    );

    --gradient-radial: #{$overlay-03};

    // Breakponts
    @media #{$medium} {
        --unit-gutter: #{$whitespace-m-sides}px;
    }
    @media #{$small} {
        --unit-gutter: #{$whitespace-s-sides}px;
    }
}
