#import "~/gql/fragments/Image"
query StaffListwithfuldetail {
    entries(section: "staffMember", orderBy: "nameLast") {
        ... on staffMember_staffMember_Entry {
            id
            typehandle
            sectionHandle
            title
            image: staffPortrait {
                ...Image
            }
            to: slug
            _id: slug
            uri
            nameFirst
            nameLast
            alternativeName {
                ... on alternativeName_alternativeName_BlockType {
                    fullName
                    languageAltName
                }
            }
            jobTitle: staffMemberJobTitle
            departments: staffDepartment(orderBy: "level") {
                id
                title
            }
            locations: staffAssociatedLocations {
                title
                to: uri
                id
            }
            pronouns
            email
            phone: phoneNumber
            consultation: bookAConsultation
            topics: askMeAbout {
                title
                id
            }
            academicDepartments {
                id
                title
            }
            biography
            subjectLibrarian
            orcid: orcidId
            publications
        }
    }
}
